.container-header{
    @apply md:max-h-[65px] max-h-[55px] h-[65px] w-full flex flex-row justify-between items-center bg-gradient-to-r from-purple-900 via-purple-800 to-pink-900 text-white py-4 md:px-[4rem] px-[1rem] fixed top-0 left-0 z-[1000];
}
/* Animation fadeIn */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}